variables:
  MELTANO_IMAGE_NAME: meltano/meltano
  MELTANO_IMAGE_TAG: latest

image:
  name: $MELTANO_IMAGE_NAME:MELTANO_IMAGE_TAG
  entrypoint: [""]

before_script: &before_script
- meltano --version
- meltano install

elt:gitlab-to-jsonl:
  before_script:
  - *before_script
  - mkdir -p output
  script:
  - meltano elt tap-gitlab target-jsonl --job_id=gitlab-to-jsonl
  - head -n 1 output/tags.jsonl
  artifacts:
    paths:
    - .meltano/run/elt
    - output
    when: always

elt:gitlab-to-postgres:
  variables:
    # `postgres` service configuration
    POSTGRES_HOST_AUTH_METHOD: trust
    POSTGRES_ADDRESS: postgres
    POSTGRES_PORT: 5432
    POSTGRES_USER: meltano
    POSTGRES_PASSWORD: ""
    POSTGRES_DB: demo-warehouse

    # `target-postgres` configuration
    PG_ADDRESS: $POSTGRES_ADDRESS
    PG_PORT: $POSTGRES_PORT
    PG_USERNAME: $POSTGRES_USER
    PG_PASSWORD: $POSTGRES_PASSWORD
    PG_DATABASE: $POSTGRES_DB
  services:
  - postgres:11
  before_script:
  - apt-get update -y
  - apt-get install -y postgresql-client
  - *before_script
  script:
  - meltano elt tap-gitlab target-postgres --transform=run --job_id=gitlab-to-postgres
  - PGPASSWORD=$PG_PASSWORD psql -U $PG_USERNAME -h $PG_ADDRESS -p $PG_PORT -d $PG_DATABASE -c "SELECT * FROM analytics.gitlab_tags LIMIT 1;"
  artifacts:
    paths:
    - .meltano/run/elt
    when: always

config:tap-covid-19:
  script:
  - meltano config tap-covid-19

select:tap-covid-19:
  # variables:
    # `tap-covid-19` extractor configuration
    # TAP_COVID_19_API_TOKEN: set through https://gitlab.com/meltano/demo-project/-/settings/ci_cd
  script:
  - meltano select --list tap-covid-19