elt:gitlab-to-jsonl-failfast:
  extends: .image:project
  needs: []
  image:
    name: python:3.8
  before_script:
  - cp -Rn /project/. . # from .image:project
  - mkdir -p output
  script:
  - pip install meltano
  - meltano install
  - meltano elt tap-gitlab target-jsonl --job_id=gitlab-to-jsonl
  - head -n 1 output/tags.jsonl

elt:gitlab-to-postgres-failfast:
  extends: .image:project
  needs: []
  image:
    name: python:3.8
  variables:
    # `postgres` service configuration
    POSTGRES_HOST_AUTH_METHOD: trust
    POSTGRES_ADDRESS: postgres
    POSTGRES_PORT: 5432
    POSTGRES_USER: meltano
    POSTGRES_PASSWORD: ""
    POSTGRES_DB: demo-warehouse

    # `target-postgres` configuration
    PG_ADDRESS: $POSTGRES_ADDRESS
    PG_PORT: $POSTGRES_PORT
    PG_USERNAME: $POSTGRES_USER
    PG_PASSWORD: $POSTGRES_PASSWORD
    PG_DATABASE: $POSTGRES_DB
  services:
  - postgres:11
  before_script:
  - cp -Rn /project/. . # from .image:project
  - apt-get update -y
  - apt-get install -y postgresql-client
  script:
  - pip install meltano
  - meltano install
  - meltano elt tap-gitlab target-postgres --transform=run --job_id=gitlab-to-postgres
  - PGPASSWORD=$PG_PASSWORD psql -U $PG_USERNAME -h $PG_ADDRESS -p $PG_PORT -d $PG_DATABASE -c "SELECT * FROM analytics.gitlab_merge_requests LIMIT 1;"

elt:gitlab-to-jsonl:
  extends: .image:project
  before_script:
  - cp -Rn /project/. . # from .image:project
  - mkdir -p output
  script:
  - meltano elt tap-gitlab target-jsonl --job_id=gitlab-to-jsonl
  - head -n 1 output/tags.jsonl

elt:gitlab-to-postgres:
  extends: .image:project
  variables:
    # `postgres` service configuration
    POSTGRES_HOST_AUTH_METHOD: trust
    POSTGRES_ADDRESS: postgres
    POSTGRES_PORT: 5432
    POSTGRES_USER: meltano
    POSTGRES_PASSWORD: ""
    POSTGRES_DB: demo-warehouse

    # `target-postgres` configuration
    PG_ADDRESS: $POSTGRES_ADDRESS
    PG_PORT: $POSTGRES_PORT
    PG_USERNAME: $POSTGRES_USER
    PG_PASSWORD: $POSTGRES_PASSWORD
    PG_DATABASE: $POSTGRES_DB
  services:
  - postgres:11
  before_script:
  - cp -Rn /project/. . # from .image:project
  - apt-get update -y
  - apt-get install -y postgresql-client
  script:
  - meltano elt tap-gitlab target-postgres --transform=run --job_id=gitlab-to-postgres
  - PGPASSWORD=$PG_PASSWORD psql -U $PG_USERNAME -h $PG_ADDRESS -p $PG_PORT -d $PG_DATABASE -c "SELECT * FROM analytics.gitlab_merge_requests LIMIT 1;"

config:tap-covid-19:
  extends: .image:project
  script:
  - meltano config tap-covid-19

select:tap-covid-19:
  extends: .image:project
  # variables:
    # `tap-covid-19` extractor configuration
    # TAP_COVID_19_API_TOKEN: set through https://gitlab.com/meltano/demo-project/-/settings/ci_cd
  script:
  - meltano select --list tap-covid-19
